@media (max-width: 1200px)
  .container
    max-width: 950px
  .header
    &-main
      &__viewport
        width: 700px
    &-bottom
      &__item
        align-items: center
      &__text
        font-size: 12px
  .menu
    &__item
      &:not(:last-child)
        margin-right: 20px

  .article-card
    padding: 20px
    &--type-3
      padding: 0
    &--file
      padding: 0
    &__bg
      max-width: 70%
      z-index: 0
      &--type-2
        max-width: 100%
      &--type-3
        max-width: 100%
    &__title
      font-size: 12px
      &--type-1
        font-size: 15px
        line-height: 125%
        margin-top: 30px
        margin-bottom: 15px
    &__file
      &-name
        font-size: 12px
        line-height: 125%
      &-info
        font-size: 10px
    &__text
      font-size: 12px
      &--type-1
        font-size: 12px
        max-width: 50%
    &__info
      &--type-1
        padding: 20px
      &--file
        padding-bottom: 15px
    &__quote
      display: none
    &__bottom
      justify-content: space-between
      padding-left: 20px
      &--type-2
        padding: 0
    &__author
      z-index: 1
      &-name
        &--type-2
          font-size: 12px
          margin-bottom: 2px
    &__date
      margin-bottom: 2px
      flex-basis: 100%
      &--type-4
        flex-basis: auto
    &__tag-container
      padding-top: 10px
    &__type-tag
      padding: 4px
    &__link
      padding: 10px
      &--fb
        padding: 10px 12px
      &--tw
        margin: 0 15px
    &__download
      padding-bottom: 10px

  // .article-list
  //   &__recommend
  //     grid-column: span 4
  //     order: 2
  //   &__last
  //     flex-direction: row
  //     &-wrapper
  //       grid-column: span 4
  //     &-item
  //       min-width: 263px
  //       padding: 0 25px
  //       &::after
  //         height: 100%
  //         width: 1px
  //         bottom: auto
  //         top: 0
  //         right: 0
  //         left: auto
  //       &s-wrapper
  //         display: flex
  //         overflow-x: scroll
  //         padding: 17px 0
  //     &-recomendation
  //       max-width: 200px
  //       display: flex
  //       align-items: center
  //       &::after
  //         height: 100%
  //         width: 1px
  //         bottom: auto
  //         top: 0
  //         right: 0
  //         left: auto
  //     &-read
  //       min-width: 100px
  //       display: flex
  //       align-items: center
  //       &::before
  //         height: 100%
  //         width: 1px
  //         bottom: auto
  //         top: 0
  //         right: auto
  //         left: 0

  .article-list
    &__container
      grid-column-gap: 15px
    &__last
      &-text
        font-size: 12px
      &-img
        width: 45px

@media (max-width: 992px)
  .container
    max-width: 740px

  .header
    &-top
      &-container
        flex-wrap: wrap
        position: relative
    &__menu
      &--mobile-hidden
        display: none
        order: 3
        .menu__list
          opacity: 0
      &--visible
        visibility: visible
        opacity: 1
        top: 230px
        color: #ffffff

      &__item
        &--mobile-visible
          display: none
      &-btn
        display: flex
        flex-direction: column
        align-self: center
        justify-content: space-between
        background: transparent
        height: 20px
        width: 30px
        border: none
        cursor: pointer
        padding: 0
        order: 2
        outline: none
        span
          width: 100%
          height: 2px
          background-color: $interactive
    &__search
      order: 1
    &-bottom
      &__list
        flex-wrap: wrap
      &__item
        max-width: 50%
        flex-basis: 50%
        display: flex
        justify-content: space-between
        padding-right: 50px
        &:nth-child(even)
          padding-left: 50px
          &::after
            display: none
      &__text
        font-size: 14px
        font-weight: 900
    &-main
      &__block
        &--main
          position: relative
      &__tabs
        right: -400px
        z-index: 4
        position: absolute
        height: 100%
        width: 400px
        transition-property: all
        transition-duration: 0.5s
        visibility: hidden
        &--visible
          display: flex
          visibility: visible
          right: 0
      &__viewport
        max-width: 100%
        width: 100%

  .tab-btn
    display: block
    position: absolute
    right: 0
    top: 150px
    border-radius: 50% 0 0 50%
    padding-left: 15px
    color: #ffffff
    font-size: 10px
    cursor: pointer
    outline: none
    z-index: 5
    border: none
    background-color: $interactive
    width: 30px
    height: 40px
    transition-property: right
    transition-duration: 0.5s
    &--tabs-visible
      right: 400px

  .article-card
    &--type-1
      grid-column: span 3
      order: 1
    &--tags
      grid-column: span 4
      grid-row: span 1
      order: 4
      overflow-y: auto
    &--file
      order: 2
    &--type-5
      order: 3
    &--type-4
      grid-column: span 2
      order: 5
    &--type-2
      grid-column: span 2
      order: 6
    &--type-3
      grid-column: span 2
      order: 7

    &__info
      &--file
        padding-bottom: 0

    &__bg
      &--type-3
        width: 100%
    &__title
      &--tags
        margin-bottom: 10px
      &--type-2
        font-size: 15px
        max-width: 70%
      &--type-3
        font-size: 20px
      &--type-4
        margin-bottom: 15px
        font-size: 17px
      &--type-5
        margin-bottom: 10px
    &__social
      flex-direction: column
    &__item
      display: flex
      align-items: center
      margin-bottom: 10px
    &__link
      margin-right: 10px
      padding: 5px
      &--tw
        margin: 0
        margin-right: 10px
      &--fb
        padding-right: 9px
        padding-left: 9px
      &-text
        display: block
        text-decoration: none
        font-weight: 900
        font-size: 12px
        color: $dark

  .article-bar
    &__container
      max-width: 700px
    &__title
      font-size: 30px

  .article-list
    &__last
      display: none
    &__recommend
      grid-column: span 4

@media (max-width: 768px)
  .container
    max-width: 700px
    width: 92%
  .header
    &-top
      &-container
        padding-top: 40px
    &-main
      &__viewport
        max-width: 100%
        width: 100%
    &-content
      padding-right: 50px
      &__title
        font-size: 30px
        max-width: 300px
    &__search
      &--mobile--hidden
        display: none
    &-bottom
      &__list
        flex-direction: column
      &__item
        flex-basis: 100%
        width: 100%
        max-width: 100%
        margin: 0
        padding: 30px 25px
        &:nth-child(even)
          padding: 30px 25px
        &:not(:first-child)
          &::before
            content: ''
            position: absolute
            background: #4B5157
            width: 90%
            height: 1px
            top: 0
            left: auto
            right: auto
  .menu
    &__item--mobile--visible
      display: block
      .search__input
        display: block
        width: 300px
        margin: 0 auto
      .search__input-wrapper
        width: 100%
  .header
    &__menu
      &--mobile-visible
        .menu__list
          width: 500px
      &--visible
        .menu__list
          width: 500px
          top: -140px
  .article-grid__container
    column-gap: 10px
  .article-card
    padding-bottom: 20px
    &--type-1
      grid-column: span 4
      order: 1
    &--tags
      grid-column: span 4
      order: 2
    &--file
      order: 6
      grid-column: span 2
    &--type-5
      order: 7
      grid-column: span 2
    &--type-4
      order: 3
      grid-column: span 2
    &--type-2
      grid-column: span 2
      order: 4
    &--type-3
      grid-column: span 2
      order: 5
    &__title
      &--type-1
        font-size: 25px
        line-height: 125%
      &--type-3
        font-size: 17px
      &--type-4
        margin-bottom: 15px
      &--type-5
        font-size: 20px
        margin-bottom: 30px
    &__file
      &-name
        font-size: 16px
        line-height: 125%
        max-width: 250px
        margin-bottom: 30px
      &-info
        font-size: 14px
    &__text
      &--type-4
        margin-bottom: 20px
    &__social
      flex-direction: row
    &__link
      margin-right: 0
      padding: 10px
      &--tw
        margin: 0 20px
      &--fb
        padding-right: 14px
        padding-left: 14px
      &-text
        display: none
  .article-bar
    &__container
      max-width: 600px
      width: 85%
    &__title
      font-size: 30px

  .article-list
    padding-top: 30px
    padding-bottom: 40px
    &__item
      min-height: auto
      flex-wrap: wrap
      &-text
        -webkit-line-clamp: 5
      &-title
        -webkit-line-clamp: 3
      &-img
        width: 100%
        flex-basis: 100%
        min-height: 200px
        height: 200px
        margin-right: 0
        margin-bottom: 30px
        border-radius: 10px
  &-title
    font-size: 20px

@media (max-width: 576px)
  .header
    &-top
      &-container
        padding-bottom: 280px
    &-main
      &__block
        &--main
          margin-top: -250px
      &__tabs
        overflow-y: scroll
        width: 90%

    &-content
      padding: 30px 20px
      min-height: 400px
      &__title
        font-size: 25px
    &__menu
      &--mobile-visible
        .menu__list
          width: 100%
      &--visible
        .menu__list
          width: 100%
          top: -140px

  .tab-btn
    &--tabs-visible
      right: 90%

  .header-bottom__item:not(:last-child)::after
    display: none

  .article-card
    &--type-2
      grid-column: span 4
    &--type-3
      grid-column: span 4
    &--file
      grid-column: span 4
    &--type-4
      grid-column: span 4
    &--type-5
      grid-column: span 4
    &__file
      &-name
        font-size: 14px
        margin-bottom: 15px
    &__bg
      &--type-1
        display: none
    &__quote
      display: none
    &__text
      font-size: 15px
      &--type-1
        font-size: 20px
    &__title
      &--type-1
        max-width: 100%
      &--type-5
        font-size: 15px
    &__info
      &--type-1
        padding-left: 10px
    &__bottom
      padding-left: 10px
  .article-bar
    &__container

    &__title
      font-size: 20px

  .article-list
    padding-top: 20px
    padding-bottom: 20px
    &__item
      padding-right: 10px
      padding-left: 10px

@media ( max-width: 380px )
  .article-card
    &__title
      &--type-1
        max-width: 100%
    &__text
      &--type-1
        max-width: 100%
    &__bg
      &--type-1
        display: none
  .article-list
    &__recommend
      padding-right: 10px
      padding-left: 10px
    &__item
      &-title
        font-size: 15px
      &-text
        font-size: 13px
