*, *::after, *::before
  box-sizing: border-box
  outline: none

body
  margin: 0
  padding: 0
  font-family: Lato, sans-serif
  font-style: normal
  font-size: 14px
  line-height: 20px

img
  max-width: 100%

.container
  max-width: 1140px
  margin: 0 auto

.button
  border-radius: 20px
  background-color: $interactive
  color: #ffffff
  text-decoration: none
  padding: 10px 20px 10px 20px
  max-width: 154px

.color-3BBDC4
  color: #3BBDC4
.color-6E99AE
  color: #6E99AE
.color-AC8EE3
  color: #AC8EE3
.color-FFA34D
  color: #FFA34D
.color-3DC47E
  color: #3DC47E
