@media (max-width: 1200px)
  .container
    max-width: 950px
  .menu
    &__item
      &:not(:last-child)
        margin-right: 20px
  .footer
    &-grid
      grid-template-columns: repeat(3, 1fr)
      grid-row-gap: 30px
      grid-auto-rows: min-content
    &-menu
      flex-wrap: wrap
      justify-content: center
      &__list
        justify-content: space-between
        flex-basis: 100%
        margin-bottom: 30px
    &-bottom
      flex-wrap: wrap
      justify-content: center
      &__info
        max-width: 100%
        flex-basis: 100%
        margin-bottom: 30px
        text-align: center
  .subscribe
    &__title
      font-size: 30px

  .header
    &-main
      &__bookmark
        right: 0
  .other-articles
    &__container
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 20px
    &__card
      display: grid
      grid-template-columns: 263px 1fr
      grid-template-rows: repeat(4, 1fr)
      grid-column-gap: 15px
      max-width: 100%
      margin: 0
      align-items: flex-end
      max-height: 180px
    &__img
      width: 263px
      grid-row: span 4
      grid-column: 1/2
      margin: 0
    &__title
      grid-row: 2/3
      grid-column: 2/3
    .card-bottom
      align-self: flex-start
      grid-row: 3/4
      grid-column: 2/3

@media (max-width: 992px)
  .container
    max-width: 740px
  .header
    &-top
      &-container
        flex-wrap: wrap
        position: relative
    &__menu
      &--mobile-hidden
        display: none
        order: 3
        .menu__list
          opacity: 0
      &--visible
        visibility: visible
        opacity: 1
        top: 230px
        color: #ffffff

      &__item
        &--mobile-visible
          display: none
      &-btn
        display: flex
        flex-direction: column
        align-self: center
        justify-content: space-between
        background: transparent
        height: 20px
        width: 30px
        border: none
        cursor: pointer
        padding: 0
        order: 2
        outline: none
        span
          width: 100%
          height: 2px
          background-color: $interactive
    &__search
      order: 1

  .header
    &-main
      &__title
        max-width: 90%
        font-size: 45px

  .main
    &__content
      &-container
        display: block
    &-aside
      float: right
      min-width: 263px
      margin-left: 15px
      margin-bottom: 15px
    &__section-text
      font-size: 20px

  .other-articles
    &__card
      display: block
      border: 1px solid #D9DADB
      border-radius: 10px
      overflow: hidden
      max-height: max-content
      padding-bottom: 10px
    &__img
      min-height: 180px
      min-width: 100%
    &__title
      padding: 0 10px
    .card-bottom
      padding: 0 10px

@media (max-width: 768px)
  .container
    max-width: 700px
    width: 92%
  .header
    &-top
      &-container
        padding-top: 15px
    &__search
      &--mobile--hidden
        display: none
  .menu
    &__item--mobile--visible
      display: block
      .search__input
        display: block
        width: 300px
        margin: 0 auto
      .search__input-wrapper
        width: 100%
  .header
    &__menu
      &--mobile-visible
        .menu__list
          width: 500px
      &--visible
        .menu__list
          width: 500px
          top: -140px
  .footer
    &-grid
      grid-template-columns: repeat(2, 1fr)
    &-menu
      &__list
        margin-bottom: 15px
      &__item:not(:last-child)
        margin-right: 10px

  .main-slider
    height: 350px

  .main .slider-arrow
    width: 25px
    height: 25px
    border-radius: 50%

  .main-aside
    display: none

  .main-tags__tag
    margin-bottom: 10px

  .author
    &-section
      display: block
      float: none
      margin: 0
    &__card
      margin: 0
      margin-bottom: 25px
  .main-bottom
    padding: 0 20px
    &__text
      padding: 10px 0
      padding-right: 20px

  .comments-wrapper
    max-width: 100%

  .comment
    &__section
      padding-top: 50px
    &__title
      font-size: 30px
    &__avatar
      width: 45px
      height: 45px
    &__item
      &--answer
        padding-left: 60px
    &__text
      font-size: 15px

    &-form
      &__avatar
        width: 75px
        height: 75px

@media (max-width: 576px)
  .header
    &-top
      &-container
        padding-bottom: 15px
  &__menu
    &--mobile-visible
      .menu__list
        width: 100%
      &--visible
        .menu__list
          width: 100%
          top: -140px
  .footer
    padding-top: 30px
    &-social
      flex-direction: column
      align-items: flex-start
      width: auto
      &__item
        display: flex
        align-items: center
        margin-right: 0
        margin-bottom: 15px
      &__link
        margin-right: 10px
        &-text
          display: block
          text-decoration: none
          font-weight: 900
          font-size: 12px
          color: $dark
    &-menu
      justify-content: space-between
      align-items: center
      &__list
        flex-direction: column
        align-items: flex-start
        flex-basis: auto
      &__item
        margin-bottom: 10px
    &__subscribe
      margin-bottom: 30px
    &-bottom
      &__info
        font-size: 12px

  .subscribe
    &__form
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: nowrap
      width: 100%
    &__input
      width: 70%
    &__button

    &__title
      font-size: 25px

  .header-main
    &__title
      font-size: 25px

  .text-block
    font-size: 14px

  .main-bottom
    &__text
      display: none
    &__profile
      padding-left: 0
      border: none

  .other-articles
    padding-bottom: 30px
    &__container
      grid-template-columns: 1fr

  .main-repost
    padding-bottom: 15px
    .main-content
      flex-direction: column
      align-items: flex-start
    &__see-more
      margin-right: 0
      margin-bottom: 10px

  .main-slider
    height: 250px

  .slider-arrow
    display: none

  .navigation
    order: -1
    margin-bottom: 15px

  .comment
    &__top
      flex-wrap: wrap
    &__header
      flex-basis: 100%
      margin-bottom: 15px

    &-form
      grid-template-columns: 45px 1fr
      &__avatar
        width: 45px
        height: 45px
        grid-row: 1/2
      &__title
        font-size: 15px
        align-self: center
      &__text
        grid-column: span 2
      &__button
        grid-column: 1/3

@media (max-width: 380px)
  .subscribe
    &__form
      flex-wrap: wrap
    &__input
      width: 100%
      margin-bottom: 10px
    &__button
      width: 100%
  .comment__item--answer
    padding-left: 30px
