.content-container
  max-width: 952px
  margin: 0 auto
.container
  width: 1140px

.text-block
  margin: 0
  font-size: 18px
  line-height: 167%
  &--first
    &:first-letter
      font-size: 100px
      line-height: 75%
      text-align: center
      color: $interactive
      float: left
      margin-top: 10px
      margin-left: -10px
      margin-right: 10px

.card-bottom
  &__views
    display: flex
    align-items: center
    text-decoration: none
    font-size: 12px
    line-height: 125%
    color: $secondary
    z-index: 1
    margin-right: 10px
    &-ico
      width: 14px
      height: 14px
      fill: #BCBFC2
      margin-right: 6px
      margin-left: 6px
  &__date
    font-size: 12px
    line-height: 125%
    color: $secondary
    margin-right: 8px

.arrow-up
  text-decoration: none
  color: $dark
  padding: 10px 20px
  position: fixed
  right: 20px
  bottom: 20px
  border: 1px solid $secondary
  background-color: #f5f5f5
  border-radius: 10px
  z-index: 100

.comment-form
  position: relative
  #message-error
    position: absolute
    bottom: 35px
    right: 40px
    color: red
